<h2>Edit Item:</h2>

<form action="/edit/{{instance.id}}?_method=put" method="post">
  <p>
    <label>Attribute:</label>
    <input type="text" value="{{instance.title}}" name="title"/>
  </p>
  <input type="submit" value="Update" />
</form>