<h1>Memes!!</h1>
<a href="/new">Enter a New Meme</a>
<ol>
    {{#each instances as 
    |instance|}}
    <li>
        <a href="/{{instance.id}}">{{instance.title}}</a>
        <p>{{instance.date}}</p>
    </li>
    {{/each}}
</ol>