<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>MemeCentral</title>
    <link rel="stylesheet" href="/css/style.css" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Playfair+Display&display=swap" rel="stylesheet">
</head>
<body>
<header>
    <h1>MemeCentral</h1>
    <nav>
        <a href="/">Home</a>
        <a href="/new">Enter a New Meme</a>
    </nav>
</header>
<section class="content">
    {{{body}}}
</section>
</body>
</html>