<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css" />
</head>
<body>
    <nav style="padding-left: 50%;">
        <ul>
            <li style="list-style-type: none; display: inline-block"><a href="/">Home</a></li>
            <li style="list-style-type: none; display: inline-block"><a href="/new">Enter a New Meme</a></li>
        </ul>
    </nav>
    {{{body}}}
</body>
</html>